In [14]:
# DataFrame 선언하기

import numpy as np
import pandas as pd

dataset = np.array([['kor', 70], ['math', 80]])
df = pd.DataFrame(dataset, columns=['class', 'score'])
df = pd.DataFrame(data=[['kor',70],['math',80]], columns=['class', 'score'])
df = pd.DataFrame({'class' : ['kor', 'math'], 'score' : [70, 80]})
df

  class  score
0   kor     70
1  math     80

In [3]:
# DataFrame 읽고 저장하기

filepath = 'test.csv'
data = pd.read_csv(filepath, na_values='NA', encoding='utf8')

data.to_csv('result.csv', header=True, index=True, encoding='utf8')

In [4]:
# DataFrame 출력

!pip install scikit-learn
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris

Requirement already satisfied: scikit-learn in d:\anaconda3\envs\py3111\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda3\envs\py3111\lib\site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: scipy>=1.3.2 in d:\anaconda3\envs\py3111\lib\site-packages (from scikit-learn) (1.9.3)
Requirement already satisfied: joblib>=1.0.0 in d:\anaconda3\envs\py3111\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\envs\py3111\lib\site-packages (from scikit-learn) (3.1.0)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [7]:
# DataFrame 요약 / 통계정보 확인하기

iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [9]:
iris.describe()

# describe()는 수치형 데이터의 개수, 평균, 표준편차, 최솟값, 제1 사분위 값(25%), 제2 사분위 값(중앙값), 제3 사분위 값(75%). 최댓값을 제공

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [20]:
df.index
list(df.index)
df.index = ['A', 'B']
df.index
df.set_index('class', drop=True, append=False, inplace=True)
df

# keys :인덱스로 사용하고자 하는 컬럼의 이름을 문자형으로 입력
# drop : 인덱스로 세팅한 컬럼을 DataFrame 내에서 삭제할지를 결정
# append : 기존에 존재하던 인덱스를 삭제할지, 컬럼으로 추가할지를 결정
# inplace : 원본 객체를 변경할지를 결정

       score
class
kor       70
math      80

In [21]:
df.reset_index(drop=False, inplace=True)
df

# drop : 기존 인덱스를 DataFrame 내에서 삭제할지, 컬럼으로 추가할지를 결정

  class  score
0   kor     70
1  math     80

In [25]:
# DataFrame 컬럼명 확인 및 변경

iris.columns
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']
iris

iris.columns = iris.columns.str.replace(' ', '_')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [26]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [28]:
# 데이터 타입 변경

iris['sepal_length'] = iris['sepal_length'].astype('int')
iris[['sepal_width', 'petal_length']] = \
iris[['sepal_width', 'petal_length']].astype('int')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0             5            3             1          0.2
1             4            3             1          0.2
2             4            3             1          0.2