In [ ]:
# 1. 그룹화와 집계
# DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=False, dropna=True).FUN()
# by : 그룹을 결정하는데 사용
# axis : 행(0)과 열(1) 지정. default 0
# level : 축이 계층 구조일 때 특정 수준을 기준으로 그룹화
# as_index : 그룹 레이블이 인덱스로 출력될지의 여부, default True
# sort : 집계 행으로 정렬할지 여부
# dropna : True이면 결측값이 행/열과 함께 삭제, False이면 결측값도 그룹의 키로 처리

In [ ]:
# 집계함수
# count()  : 값의 개수  # std()       : 표준편차
# sum()    : 값들의 합  # var()       : 분산
# min()    : 최솟값     # quantile(n) : 분위수
# max()    : 최댓값     # first()     : 첫번째 값
# mean()   : 평균       # last()      : 마지막 값
# median() : 중앙값     # describe()  : 기술통계량

In [2]:
import pandas as pd
from sklearn.datasets import load_iris
IRIS = load_iris()
iris = pd.DataFrame(data=IRIS.data, columns=IRIS.feature_names)
iris['class'] = IRIS.target
iris['class'] = iris['class'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
iris.groupby(by='class').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [3]:
iris.groupby(by='class').median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.0,3.4,1.50,0.2
versicolor,5.9,2.8,4.35,1.3
virginica,6.5,3.0,5.55,2.0

In [4]:
# 2. 도수분포표
# pd.Series(DataFrame['컬럼명']).value_counts()

pd.Series(iris['class']).value_counts()

setosa        50
versicolor    50
virginica     50
Name: class, dtype: int64

In [7]:
iris['petal width level'] = pd.qcut(iris['petal width (cm)'], q=3, labels=['short', 'middle', 'long'])
pd.Series(iris['petal width level']).value_counts().to_frame()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,petal width level
0,5.1,3.5,1.4,0.2,setosa,short
1,4.9,3.0,1.4,0.2,setosa,short
2,4.7,3.2,1.3,0.2,setosa,short
3,4.6,3.1,1.5,0.2,setosa,short
4,5.0,3.6,1.4,0.2,setosa,short
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,long
146,6.3,2.5,5.0,1.9,virginica,long
147,6.5,3.0,5.2,2.0,virginica,long
148,6.2,3.4,5.4,2.3,virginica,long
149,5.9,3.0,5.1,1.8,virginica,long

In [9]:
# pd.crosstab(index, columns, dropna=True, normalize=False)
# index : 열 위치에서 집계될 범주형 변수(컬럼1)
# columns : 행 위치에서 집계될 범주형 변수(컬럼2)
# dropna : 항목이 모두 NaN인 열을 제외할지 여부
# normalize : 'all' 또는 True를 전달하면 모든 값에 대해 정규화하고, 'index'를 전달하면 각행에 대해
# 'columns'가 전달되면 각 열에 대해 정규화

pd.crosstab(iris['petal width level'], iris['class'])

class              setosa  versicolor  virginica
petal width level
short                  50           0          0
middle                  0          48          4
long                    0           2         46