In [ ]:
# 1. 그룹화와 집계
# DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=False, dropna=True).FUN()
# by : 그룹을 결정하는데 사용
# axis : 행(0)과 열(1) 지정. default 0
# level : 축이 계층 구조일 때 특정 수준을 기준으로 그룹화
# as_index : 그룹 레이블이 인덱스로 출력될지의 여부, default True
# sort : 집계 행으로 정렬할지 여부
# dropna : True이면 결측값이 행/열과 함께 삭제, False이면 결측값도 그룹의 키로 처리

In [ ]:
# 집계함수
# count()  : 값의 개수  # std()       : 표준편차
# sum()    : 값들의 합  # var()       : 분산
# min()    : 최솟값     # quantile(n) : 분위수
# max()    : 최댓값     # first()     : 첫번째 값
# mean()   : 평균       # last()      : 마지막 값
# median() : 중앙값     # describe()  : 기술통계량

In [2]:
import pandas as pd
from sklearn.datasets import load_iris
IRIS = load_iris()
iris = pd.DataFrame(data=IRIS.data, columns=IRIS.feature_names)
iris['class'] = IRIS.target
iris['class'] = iris['class'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
iris.groupby(by='class').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [3]:
iris.groupby(by='class').median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.0,3.4,1.50,0.2
versicolor,5.9,2.8,4.35,1.3
virginica,6.5,3.0,5.55,2.0